    <section class="u-clearfix u-image u-section-1" id="sec-fbc9" data-image-width="1280" data-image-height="854">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">TEXT</h1>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-3f22">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">It's That Design Feeling</h1>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-1" data-image-width="900" data-image-height="521">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <h3 class="u-text u-text-default u-text-2">Sea Pollution</h3>
                <p class="u-text u-text-default u-text-3">Donate Here</p>
              </div>
            </div>
            <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-2" data-image-width="840" data-image-height="700">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <h3 class="u-text u-text-default u-text-4">Air Pollution</h3>
                <p class="u-text u-text-default u-text-5">Donate Here</p>
              </div>
            </div>
            <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-3" data-image-width="1000" data-image-height="662">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <h3 class="u-text u-text-default u-text-6">Tree planting</h3>
                <p class="u-text u-text-default u-text-7">Donate Here</p>
              </div>
              <div class="w3-col l3 s6">
                <div class="w3-container">
                  <div class="w3-display-container">
                    <img src="/w3images/jeans2.jpg" style="width:100%">
                    <span class="w3-tag w3-display-topleft">New</span>
                    <div class="w3-display-middle w3-display-hover">
                      <button class="w3-button w3-black">Donate now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                  </div>
                  <p>Mega Ripped Jeans<br><b>$19.99</b></p>
                </div>
                <div class="w3-container">
                  <img src="/w3images/jeans3.jpg" style="width:100%">
                  <p>Washed Skinny Jeans<br><b>$20.50</b></p>
                </div>
              </div>

              <div class="w3-col l3 s6">
                <div class="w3-container">
                  <img src="/w3images/jeans3.jpg" style="width:100%">
                  <p>Washed Skinny Jeans<br><b>$20.50</b></p>
                </div>
                <div class="w3-container">
                  <div class="w3-display-container">
                    <img src="/w3images/jeans4.jpg" style="width:100%">
                    <span class="w3-tag w3-display-topleft">Sale</span>
                    <div class="w3-display-middle w3-display-hover">
                      <button class="w3-button w3-black">Donate now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                  </div>
                  <p>Vintage Skinny Jeans<br><b class="w3-text-red">$14.99</b></p>
                </div>
              </div>

              <div class="w3-col l3 s6">
                <div class="w3-container">
                  <img src="/w3images/jeans4.jpg" style="width:100%">
                  <p>Vintage Skinny Jeans<br><b>$14.99</b></p>
                </div>
                <div class="w3-container">
                  <img src="/w3images/jeans1.jpg" style="width:100%">
                  <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
                </div>
              </div>
            </div>
              <div class="w3-container w3-black w3-padding-32">
                <h1>Subscribe to our Newsletter!</h1>
                <p>To get special offers and VIP treatment:</p>
                <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
                <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
              </div>
              <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
</style>
</head>
<body>

<h2>Opacity with Box</h2>
<p>Hover over the image to see the effect.</p>

<div class="container">
  <img src="img_avatar.png" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">John Doe</div>
  </div>
</div>

</body>
</html>

            </div>
          </div>
        </div>
    </section>
