    <section class="u-clearfix u-image u-section-1" id="sec-fbc9" data-image-width="1280" data-image-height="854">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">TEXT</h1>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-3f22">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">It's That Design Feeling</h1>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-1" data-image-width="900" data-image-height="521">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <h3 class="u-text u-text-default u-text-2">Sea Pollution</h3>
                <p class="u-text u-text-default u-text-3">Donate Here</p>
              </div>
            </div>
            <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-2" data-image-width="840" data-image-height="700">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <h3 class="u-text u-text-default u-text-4">Air Pollution</h3>
                <p class="u-text u-text-default u-text-5">Donate Here</p>
              </div>
            </div>
            <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-3" data-image-width="1000" data-image-height="662">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <h3 class="u-text u-text-default u-text-6">Tree planting</h3>
                <p class="u-text u-text-default u-text-7">Donate Here</p>
              </div>
              <div class="w3-container w3-black w3-padding-32">
                <h1>Subscribe</h1>
                <p>To get special offers and VIP treatment:</p>
                <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
                <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
