<div class = "row">
  <div *ngFor="let event of events" [routerLink]="['/event',event.id]" class="card-group col-4">
  <div class="card">
    <img src="{{event.picture}}" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{ event.name }}</h5>
      <p class="card-text">{{ event.shortDescription }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
</div>
<div class = "row">
  <div class="card-group col-4">
    <div class="card">
      <img src="../../assets/oPolution.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="card-group col-4">
    <div class="card">
      <img src="../../assets/aPolution.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="card-group col-4">
    <div class="card">
      <img src="../../assets/tree_sappling.jpg" class="card-img-top" alt="...">
    </div>
  </div>
</div>

