.u-section-1 .u-sheet-1 {
  min-height: 493px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 80px auto 60px;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 30px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}
