<form #loginForm="ngForm" (ngSubmit)="onSubmit()" style="padding: 10px;">
  <div class="u-form-group u-form-name">
    <label for="username-a30d" class="u-label">Username *</label>
    <input name="usernameField" [(ngModel)]="usernameField" type="text" placeholder="Username" required>
  </div>
  <div class="u-form-group u-form-password">
    <label for="password-a30d" class="u-label">Password *</label>
    <input name="passwordField" [(ngModel)]="passwordField" type="password" placeholder="Password" required>
  </div>
  <div class="u-align-left u-form-group u-form-submit">
    <button type="submit">Log In</button>
  </div>
</form>
