<!--form #loginForm="ngForm" (ngSubmit)="onSubmit()" style="padding: 10px;">
  <div class="u-form-group u-form-name">
    <label for="username-a30d" class="u-label">Username *</label>
    <input name="usernameField" [(ngModel)]="usernameField" type="text" placeholder="Username" required/>
  </div>
  <div class="u-form-group u-form-password">
    <label for="password-a30d" class="u-label">Password *</label>
    <input name="passwordField" [(ngModel)]="passwordField" type="password" placeholder="Password" required/>
  </div>
  <div class="u-align-left u-form-group u-form-submit">
    <button type="submit">Log In</button>
  </div>
</form-->
<style>
  .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
  background-color: #f0f0f0; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 600; }

.button {
  color: #ffffff;
  background-color: #24cf5f;
  padding: 12px 25px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
  outline: 0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .button:hover, .button:active, .button:focus {
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

.button--transparent {
  background: transparent;
  border: 0;
  outline: 0; }

.button--close {
  position: absolute;
  top: 10px;
  left: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 30px;
  height: 30px;
  color: #ffffff;
  border-radius: 50%;
  transition: all .25s;
  z-index: 10; }
  .button--close svg {
    width: 20px;
    height: 20px; }
    .button--close svg * {
      fill: currentColor; }
  .button--close:hover, .button--close:active, .button--close:focus {
    color: #5161ca;
    background-color: #ffffff;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); }

.button--info {
  position: absolute;
  top: 0;
  right: 0; }

input {
  width: calc(100% - 10px);
  min-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: .5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0; }
  input:valid {
    border-color: #24cf5f; }
  input:focus {
    outline: none;
    border-color: #5161ce; }

.form-list {
  padding-left: 0;
  list-style: none; }
  .form-list__row {
    margin-bottom: 25px; }
    .form-list__row label {
      position: relative;
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 11px;
      letter-spacing: .5px;
      color: #939393; }
    .form-list__row--inline {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .form-list__row--inline > :first-child {
        -ms-flex: 2;
            flex: 2;
        padding-right: 20px; }
      .form-list__row--inline > :nth-child(2n) {
        -ms-flex: 1;
            flex: 1; }
  .form-list__input-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .form-list__input-inline > * {
      width: calc(50% - 10px - 10px); }
  .form-list__row--agree {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px; }
    .form-list__row--agree label {
      font-weight: 400;
      text-transform: none;
      color: #676767; }
    .form-list__row--agree input {
      width: auto;
      margin-right: 5px; }

#input--cc {
  position: relative;
  padding-top: 6px; }
  #input--cc input {
    padding-left: 46px;
    width: calc(100% - 46px); }
  #input--cc:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 36px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%); }



.modal {
  display: -ms-flexbox;
  display: contents;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  

  z-index: 100; 
overflow-y: auto;
}
  .modal__container {
    display: -ms-flexbox;
    display: flex;
    min-width: 675px;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 15px #a0a0a0; 
    margin-top: 30px;
    margin: 5px;
  }
  .modal__featured {
    position: relative;
    -ms-flex: 1;
        flex: 1;
    min-width: 230px;
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .modal__circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;
    background-color: #5161ce;
    border-radius: 50%;
    -ms-transform: translateX(-50%) translateY(-25%);
        transform: translateX(-50%) translateY(-25%); }
  .modal__product {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 85%;
    -ms-transform: translateX(calc(-50% - 10px));
        transform: translateX(calc(-50% - 10px)); }
  .modal__content {
    -ms-flex: 2;
        flex: 2;
    padding: 40px 30px; }
</style>

<div class="modal">
  <div class="modal__container">
    <div class="modal__featured">
      <button type="button" class="button--transparent button--close">
        <svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
          <g><path fill="#ffffff" d="M1.293,15.293L11,5.586L12.414,7l-8,8H31v2H4.414l8,8L11,26.414l-9.707-9.707 C0.902,16.316,0.902,15.684,1.293,15.293z"></path> </g></svg>
        <span class="visuallyhidden">Return to Home Page</span>
      </button>
      <div class="modal__circle"></div>
      <img src="https://cloud.githubusercontent.com/assets/3484527/19622568/9c972d44-987a-11e6-9dcc-93d496ef408f.png" class="modal__product" />
    </div>
    <div class="modal__content">
      <h2>Log In</h2>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" style="margin-top: 40px;">
        <ul class="form-list">
          <li class="form-list__row">
            <label>Username</label>
            <input name="usernameField" [(ngModel)]="usernameField" type="text" placeholder="Username" required />
          </li>
          <li class="form-list__row">
            <label>Password</label>
              <input name="passwordField" [(ngModel)]="passwordField" type="password" placeholder="Password" required />
          </li>
          <li>
            <button type="submit" class="button">Log In</button>
          </li>
        </ul>
      </form>
    </div> <!-- END: .modal__content -->
  </div> <!-- END: .modal__container -->
</div> <!-- END: .modal -->