<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>We are 3 dudes that made this using angular in like 2 days lmao</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./src/images/DSC_4592.jpg" alt="Stefan Ivanov" style="width:100%">
      <div class="container">
        <h2>Stefan Ivanov</h2>
        <p class="title">CEO & Founder</p>
        <p>Full time java developer, but somehow ended up doing angular lol
          find me @ ivanovstefan.com
        </p>
        <p>stefan.ivanovv.99@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./src/images/jas.jpg" alt="Levko Jovanovski" style="width:100%">
      <div class="container">
        <h2>Levko Jovanovski</h2>
        <p class="title">Art Director</p>
        <p>FINKI Student (Brucosh)</p>
        <p>levko2020jovanovski@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="David Donev" style="width:100%">
      <div class="container">
        <h2>David Donev</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
