<div class="about-section col-12">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>We are 3 dudes that made this using angular in like 2 days lmao, xD</p>
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="col-4">
    <div class="card">
      <img src="../../assets/DSC_4592.jpg" alt="Stefan Ivanov">
      <div class="container">
        <h2>Stefan Ivanov</h2>
        <p class="title">CEO & Founder</p>
        <p>FINKI Student Upper Class</p>
          <p>Date of Birth : <b>03.12.1999</b></p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <img src="../../assets/jas.jpg" alt="Levko Jovanovski" >
      <div class="container">
        <h2>Levko Jovanovski</h2>
        <p class="title">Art Director</p>
        <p>FINKI Student (Brucosh)</p>
        <p>Date of Birth : <b>13.12.2002</b></p>
        <p>levko2020jovanovski@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="David Donev" />
      <div class="container">
        <h2>David Donev</h2>
        <p class="title">Designer</p>
        <p>FINKI Student (Brucosh)</p>
        <p>Date of Birth : <b>23.10.2002</b></p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
