<!--Header-->
<header>
  <section>
    <div>
      <img src="">
      <p>Some Text</p>
      <p>Some Other Text</p>
    </div>
  </section>
</header>

<!--Body-->
<main>
  <section>
    <div class="tBox col-12"></div>
      <h4>Some Text in Main</h4>
    <div class="dBox col-4"></div>
    <div class="dBox col-4"></div>
    <div class="dBox col-4"></div>
  </section>
  <section>
    <div class="eBox col-8"></div>
    <div class="tBox col-4"></div>
  </section>
</main>

<!--Footer-->
<footer>
  <section>
    <div class="links">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    <div class="newsletter">
      <h4>Newsletter</h4>
      <input type="email" required>
    </div>
  </section>
</footer>