<div class="list-group">
  <a class="list-group-item list-group-item-action" *ngFor="let event of events" (click)="onClick(event)">
    {{ event.name }}
  </a>
</div>
<form #eventForm="ngForm" (ngSubmit)="onSubmit()">
  <input
    name="titleField"
    [(ngModel)]="titleField"
    type="text"
    placeholder="Event Title"
    required
  />
  <input
    name="descriptionField"
    [(ngModel)]="descriptionField"
    type="text"
    placeholder="Event Description"
    required
  />
  <button type="submit">Add New Event</button>
</form>
